---
title: Öffentlich zugängliche Ladeinfrastruktur in Sachsen
---
<div id="ladesaeulen" class="col-lg-12">
  <h3>Öffentlich zugängliche Ladeinfrastruktur in Sachsen</h3>

  <div class="row">
    <div class="chart chart-tall">
      <div class="w-100 chart" id="ladesaeulen-chart-1"></div>
    </div>
    <div class="chart chart-tall">
      <div class="w-100 chart" id="ladesaeulen-chart-2"></div>
    </div>
    <div class="chart chart-tall">
      <div class="w-100 chart" id="ladesaeulen-chart-3"></div>
    </div>
  </div>

  <div class="row" id="ladesaeulen-attribution">
    Quellen:
    <ul>
      <li><a href="https://www.bundesnetzagentur.de/DE/Sachgebiete/ElektrizitaetundGas/Unternehmen_Institutionen/HandelundVertrieb/Ladesaeulenkarte/Ladesaeulenkarte_node.html">
          Bundesnetzagentur
        </a>
      </li>
      <li>
        <a href="https://www.geodaten.sachsen.de/downloadbereich-verwaltungsgrenzen-4344.html">GeoSN</a> (<a href="https://www.govdata.de/dl-de/by-2-0">dl-de/by-2-0</a>)
      </li>
    </ul>
  </div>
</div>
<script src="/verkehr/ladesaeulen/chart.js"></script>