---
---
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Klimadashboard Sachsen</h1>
</div>
<p>Das Projekt „Klimadashboard Sachsen” versucht den Fortschritt der Energie-, Verkehrs- und Landwirtschaftswende zu dokumentieren. Dazu werden Quellen aus den einzelnen Sektoren zusammengetragen und mittels moderner Webtechnologien anschaulich gemacht.</p>
<p>An dem Projekt kann sich jede*r beteiligen. Falls du darauf Lust hast oder eine interessant Statistik kennst, die du gern veröffentlichen möchtest, melde dich einfach per <a href="mailto:team@danielgerber.eu">Email</a>. Eine Anleitung worauf es beim Erstellen von Statistiken ankommt, findet man <a href="https://gitlab.com/gerbsen/energiewende-sachsen-dashboard/-/blob/develop/README.md">hier</a>.</p>

<div id="Emissionen">
  <h2>Emissionen</h2>
  {{% include "/emissionen/co2-nach-sektor" %}}
</div>

<div id="Energie">
  <h2>Energie</h2>
  {{% include "/energie/erneuerbare-stromverbrauch" %}}
  {{% include "/energie/windkraftanlagen" %}}
</div>
<div id="Verkehr" class="subsection">
  <h2>Verkehr</h2>
  {{% include "/verkehr/pkw-kraftstoffe" %}}
  {{% include "/verkehr/ladesaeulen" %}}
  {{% include "/verkehr/oepnv-fahrgaeste" %}}
</div>

<div id="Landwirtschaft" class="mt-3">
  <h2>Landwirtschaft</h2>
  Noch keine Daten vorhanden.
</div>

<div id="Sonstiges" class="mt-3">
  <h2>Sonstiges</h2>
  Noch keine Daten vorhanden.
</div>