---
title: Anteil Erneuerbare
---
<div id="erneuerbare-stromverbrauch" class="col-lg-12">
  <h3>Anteil Erneuerbarer Energieträger am <span>Bruttostromverbrauch</span><i id="bruttostromverbrauch-help" data-feather="help-circle"></i></h3>

  <div class="my-4 w-100 chart" id="erneuerbare-stromverbrauch-chart"></div>
  <div id="erneuerbare-stromverbrauch-attribution">
    Quelle: <a href="https://www.lak-energiebilanzen.de/eingabe-dynamisch/?a=i200">Länderarbeitskreis
      Energiebilanzen</a>
  </div>
</div>
<script src="/energie/erneuerbare-stromverbrauch/chart.js"></script>