---
title: Windkraftanlagen
---
<div id="windkraftanlagen-sachsen" class="col-lg-12">
  <h3>Windkraftanlagen in Sachsen</h3>
  <div class="row">
    <div class="col-md-7">
      <div id="map-windkraftanlagen-sachsen">
      </div>
      <div id="windkraftanlagen-sachsen-attribution">
        Quelle: <a href="https://www.marktstammdatenregister.de/MaStR/Einheit/Einheiten/ErweiterteOeffentlicheEinheitenuebersicht">
          Marktstammdatenregister MaStR, Stand: 07.06.2020
        </a>
      </div>
    </div>
    <div class="col-md-5">
      <h4>Kartentyp umschalten</h4>
      <div class="btn-group btn-group-toggle" data-toggle="buttons" id="map-windkraftanlagen-sachsen-menu">
        <label class="btn btn-secondary active">
          <input type="radio" name="light-v10" id="light-v10" autocomplete="off" checked> Einfach
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="satellite-v9" id="satellite-v9" autocomplete="off"> Satellit
        </label>
      </div>
      <h4 class="mt-3">Eigenschaften der Windkraftanlagen</h4>
      <div id="windkraftanlagen-sachsen-wka-info">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Schlüssel</th>
              <th scope="col">Wert</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bitte wählen Sie einen Marker auf der Karte aus</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
</div>
<script src="/energie/windkraftanlagen/windkraftanlagen.js"></script>