<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Das Projekt „Klimadashboard Sachsen” versucht den Fortschritt der Energie-, Verkehrs- und Landwirtschaftswende zu dokumentieren. Dazu werden Quellen aus den einzelnen Sektoren zusammengetragen und mittels moderner Webtechnologien anschaulich gemacht.">
    <meta name="author" content="Daniel Gerber, Marvin Frommhold, Lars Mai">
    <title>Klimadashboard Sachsen</title>
    <link rel="canonical" href="TODO">
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
    {{ $bootstrapCss := resources.Get "css/bootstrap/bootstrap.min.css" }}
    <link href="{{ $bootstrapCss.RelPermalink }}" rel="stylesheet">
    {{ $dashboardCss := resources.Get "css/dashboard/dashboard.css" }}
    <link href="{{ $dashboardCss.RelPermalink }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Klimadashboard Sachsen</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="container-fluid">
      <div class="row">
        {{ partial "sidebar.html" . }}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          {{ block "main" .}}
          {{ end }}
        </main>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
    {{ $dashboardJs := resources.Get "src/js/dashboard/dashboard.js" }}
    <script src="{{ $dashboardJs.RelPermalink }}"></script>
  </body>

</html>