---
title: ÖPNV Fahrgäste
---
<div id="oepnv-fahrgaeste" class="col-lg-12">
  <h3>Fahrgäste im Liniennahverkehr</h3>

  Beförderte Personen im Liniennahverkehr (in Tsd.), Summe der Quartalszahlen. (2020: 1. Quartal)

  <div class="my-4 w-100 chart" id="oepnv-fahrgaeste-chart"></div>
  <div id="oepnv-fahrgaeste-attribution">
    Quelle: <a href="https://www-genesis.destatis.de/genesis//online?operation=table&code=46100-0015&bypass=true&levelindex=1&levelid=1591771404394">
      Statistisches Bundesamt (Destatis)
    </a>
    Stand: 23.06.2020
  </div>
</div>
<script src="/verkehr/oepnv-fahrgaeste/chart.js"></script>