---
title: CO2 nach Sektor
---
<div id="co2-nach-sektor" class="col-lg-12">
  <h3>CO2-Emissionen nach Emittentensektoren</h3>

  <div class="my-4 w-100 chart" id="co2-nach-sektor-chart"></div>
  <div id="co2-nach-sektor-attribution">
    Quelle: <a href="https://www.lak-energiebilanzen.de/eingabe-dynamisch/?a=c600">Länderarbeitskreis
      Energiebilanzen</a>, Stand: 09.03.2020
  </div>
</div>
<script src="/emissionen/co2-nach-sektor/chart.js"></script>