<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">

    {{ $currentPage := . }}

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link{{if .IsHome }} active{{ end }}" href="/">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    {{ range .Site.Sections }}
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <a class="nav-link{{if (eq $currentPage.CurrentSection .)}} active{{ end }}" style="padding-left: 0px" href="{{ .URL }}">
        <span>{{ .Name }}</span>
      </a>
    </h6>

    {{ range .Pages }}
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link{{if (eq $currentPage . )}} active{{ end }}" href="{{ .URL }}">
          <span data-feather="file-text"></span>
          {{ .Title }}
        </a>
      </li>
    </ul>
    {{ end }}

    {{ end }}
  </div>
</nav>