---
title: PKW-Kraftstoffe
---
<div id="pkw-kraftstoffe" class="col-lg-12">
  <h3>PKW Bestand nach Kraftstoffarten</h3>

  <div class="row">
    <div class="my-4 w-100 chart" id="pkw-kraftstoffe-chart-1"></div>
    <div class="my-4 w-100 chart" id="pkw-kraftstoffe-chart-2"></div>
  </div>

  <div id="pkw-kraftstoffe-attribution">
    Quelle:
    <a href="https://www.statistik.sachsen.de/genonline//online/data?operation=table&code=46251-102Z&levelindex=1&levelid=1590999876853">
      Statistisches Landesamt des Freistaates Sachsen
    </a>
  </div>
</div>
<script src="/verkehr/pkw-kraftstoffe/chart.js"></script>